# Compiled Source #
###################
*.o
*.so

# Config files #
################
config/*
setup

# DAMM Files #
##############
*.drr
*.his
*.list
*.log

# ROOT Files #
##############
*.root
RootDict.cpp
RootDict.h

# Executable #
##############
PixieLDF
DammPixieLDF

# Other #
#########
*.sh
*.dat
*.cmd
