# Compiled Source #
###################
*.o
*.so

# Config files #
################
config/*
setup

# DAMM Files #
##############
*.drr
*.his
*.list
*.log

# ROOT Files #
##############
*.root
*.pcm

# Dictionary Files #
####################i
.def.struct.bkp
RootDict.cpp
RootDict.h
Structures.cpp
Structures.h
LinkDef.h

# Executable #
##############
PixieLDF
OldPixieLDF
DammPixieLDF

# Tools #
#########
rcbuild
hexRead
his2root
raw2root
ldfReader
hisReader
rawViewer
pulseViewer

# Other #
#########
*.dat
*.cmd
